// table {
//   width: 90%;
// }
.content-wrapper {
  width: 90%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mdc-button {
  margin-right: 12px;
}
