
<div class="content-wrapper">
    <h1>Contacts</h1>

    <div id="actions">
      <button mat-flat-button [routerLink]="['new']">New Contact</button>
      <span class="example-spacer"></span>
      <button mat-flat-button (click)="this.data.fetch(1)"><mat-icon>refresh</mat-icon>Refresh</button>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="callsign">
            <th mat-header-cell *matHeaderCellDef>Callsign</th>
            <td mat-cell *matCellDef="let element">{{ element.callsign }}</td>
          </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="qso_date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.qso_date }}</td>
        </ng-container>

        <ng-container matColumnDef="qso_time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element">{{ element.qso_time }}</td>
          </ng-container>

        <ng-container matColumnDef="frequency">
            <th mat-header-cell *matHeaderCellDef>Frequency</th>
            <td mat-cell *matCellDef="let element">{{ element.frequency }}</td>
          </ng-container>

          <ng-container matColumnDef="band">
            <th mat-header-cell *matHeaderCellDef>Band</th>
            <td mat-cell *matCellDef="let element">{{ element.band }}</td>
          </ng-container>

          <ng-container matColumnDef="mode">
            <th mat-header-cell *matHeaderCellDef>Mode</th>
            <td mat-cell *matCellDef="let element">{{ element.mode }}</td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- (click)="clickRow(row)" -->
        <tr mat-row [routerLink]="[row.id]" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users">
        <!-- [pageIndex] = "page.pagination.page" -->
      </mat-paginator>
    </div>

    <router-outlet />
  </div>
