apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "service-capture.fullname" . }}
  labels:
    {{- include "service-capture.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "service-capture.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "service-capture.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: APP_HOST
              value: "0.0.0.0"
            - name: APP_PORT
              value: "8080"
