<div class="container">
    <h1>{{ isEditing ? 'Edit Service' : 'New Service' }}</h1>


    <form (submit)="submit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput required [(ngModel)]="service.name" name="name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>P99 (ms)</mat-label>
            <input matInput type="number" [(ngModel)]="service.p99_millis" name="p99_millis" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>P95 (ms)</mat-label>
            <input matInput type="number" [(ngModel)]="service.p95_millis" name="p95_millis" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Availability (%)</mat-label>
            <input matInput type="number" [(ngModel)]="service.availability" name="availability" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Throughput (rps)</mat-label>
            <input matInput type="number" [(ngModel)]="service.throughput_rps" name="throughput_rps" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>X Coordinate</mat-label>
            <input matInput type="number" [(ngModel)]="service.x" name="x" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Y Coordinate</mat-label>
            <input matInput type="number" [(ngModel)]="service.y" name="y" />
        </mat-form-field>

        <button mat-raised-button color="accent" type="button" (click)="resetCoordinates()">
            Reset Coordinates
        </button>

        <button mat-raised-button color="primary" type="submit">
            Save
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()">
            Cancel
        </button>
    </form>


</div>
