.container {
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
}

.mat-elevation-z8 {
    margin-top: 20px;
}

tr.mat-row {
    cursor: pointer;
}

tr.mat-row:hover {
    background-color: #f5f5f5;
}
