.service-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.toolbar {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.service-svg {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    cursor: default;
}

.service-node {
    cursor: grab;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }

    &.dragging {
        cursor: grabbing;
        opacity: 1;
    }
}
