.service-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.service-svg {
    width: 90%;
    height: 90%;
    border: 1px solid #ccc;
    /* Optional: to see the boundary */
    background-color: #f9f9f9;
    /* Optional: to see the background */
}
